@import "app.scss";

body {
  display: flex;
}

.section-inbox {
  width: 100%;
  height: 100%;
  margin: 0 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-gap: 2em;
}

.section-inbox > h1 {
  width: fit-content;
  position: relative;
  font-size: 2em;
}

.section-inbox > h1::before {
  @include title-underline;
}

.allMessages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-gap: 1em;
}

.message-received {
  display: flex;
  flex-direction: column;
  grid-gap: 0.5em;
  padding: 1em;
  border-radius: $border-radius-on-linear-gradient;
  height: 100%;
  width: 100%;
  color: $black;
  cursor: pointer;

  &:nth-child(odd) {
    background: $section-space-background-color;
  }
  &:nth-child(even) {
    background: darken($section-space-background-color, 12.5%);
  }

  .object-content,
  .message-content {
    margin-top: 0.5em;
    border-radius: $border-radius-on-linear-gradient;
    overflow-y: scroll;
    word-break: break-all;
  }
  .message-content {
    height: 200px;
  }

  .object-message-grouped-content {
    display: flex;
    flex-direction: column;
    grid-gap: 1em;
    overflow: hidden;
    transition: height 0.5s;
    height: 0;
  }
  .object-message-grouped-content > div {
    padding: 1em;
    background-color: #f1f1f1;
    border-radius: 10px;
  }

  &:hover .object-message-grouped-content,
  .object-message-grouped-content.active {
    height: calc(200px + 10em);
  }

}
