.container-nav {
    height: 90vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 1em;
    position: fixed;
    z-index: 2000;
    transform: translateX(-90%);
    transition: 0.5s ease-in-out;
}

.container-nav:hover {
    transform: translateX(-2%);
}

.first-nav {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0.2em;
    @include div-border-gradient(180deg);
    border-top-right-radius: $border-radius-on-linear-gradient;
    border-bottom-right-radius: $border-radius-on-linear-gradient;
}

.first-nav > div {
    height: 100%;
    width: 100%;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include navbar-content-gradient(120deg);
    border-top-right-radius: calc($border-radius-on-linear-gradient/2);
    border-bottom-right-radius: calc($border-radius-on-linear-gradient/2);
    justify-content: space-around;
}

.second-nav {
    height: 10%;
    width: 100%;
    position: relative;
    padding: 0.2em;
    @include div-border-gradient(0deg);
    border-top-right-radius: $border-radius-on-linear-gradient;
    border-bottom-right-radius: $border-radius-on-linear-gradient;
}

.second-nav > div {
    height: 100%;
    width: 100%;
    padding: 0.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include navbar-content-gradient(120deg);
    border-top-right-radius: calc($border-radius-on-linear-gradient/2);
    border-bottom-right-radius: calc($border-radius-on-linear-gradient/2);
}

.second-nav > div > a,
.first-nav > div > a {
    text-decoration: none;
    color: $text-color;
}