@import 'variables.scss';

@mixin title-underline {
  content: "";
  position: absolute;
  top: 100%;
  left: 5%;
  right: -5%;
  height: 5px;
  border-radius: 2px;
  background: $title-underline-gradient;
}

@mixin div-border-gradient($degree) {
  background: linear-gradient($degree, #1D1D1D 33%, #7d7d7d 66%, rgba(236,236,236,0.8) 100%);
}

@mixin navbar-content-gradient($degree) {
  background: linear-gradient($degree, rgb(108, 108, 108) 20%, rgb(37, 37, 37) 100%);
}