{% extends "admin/layout.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('adminProfileSCSS') }}
{% endblock %}

{% block body %}
    <section class="section-my-profile">
        <h1>My Profile</h1>
        <div class="profile-border">
            <div class="profile">

            </div>
        </div>
    </section>
{% endblock %}
