{% block navbar %}
    <nav>
        <div>
            <span></span>
            <a href="{{ path('about-me') }}">❤</a>
            <a href="{{ path('hbo-studio') }}">HBO Studio</a>
        </div>
    </nav>

    <script>
        const toggleNavbar = document.querySelector('nav > div > span');
        const navbar = document.querySelector('nav');

        let toggleIndex = 0;
        toggleNavbar.addEventListener('click', function (){

            if(toggleIndex%2 === 0){
                navbar.style.transform = "translateX(-90%)";
                toggleNavbar.style.transform = "rotate(180deg)";
                console.log('hide the nb')
            } else {
                navbar.style.transform = "translateX(0%)";
                toggleNavbar.style.transform = "rotate(0deg)";
                console.log('show the nb')
            }

            toggleIndex++;
        })

    </script>
{% endblock %}