{% block navbar %}
    <section class="container-nav">
        <nav class="first-nav">
            <div>
                <a href="{{ path('about-me') }}">❤</a>
                <a href="{{ path('admin-dashboard') }}">Admin</a>
                <a href="{{ path('hbo-studio') }}">HBO Studio</a>
            </div>
        </nav>

        <div class="second-nav">
            <div>
                <a href="{{ path('homepage') }}">K.V</a>
            </div>
        </div>
    </section>
{% endblock %}