@import "assets/styles/to-import/mixins.scss";
@import "layout.scss";
@import "assets/styles/to-import/_navbar.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Offside', cursive;
    font-size: $text-size;
}


body {
    height: 100vh;
    background-color: #373737;
    color: #fdfdfd;
    padding: 2em 0;
}

nav {
    position: fixed;
    top: 2.5%;
    left: 10%;
    right: 10%;
    margin: auto;
    background: linear-gradient(10deg, darken($white, 15%) 50%, lighten($black, 15%) 75%);
    border-radius: $border-radius-on-linear-gradient;
    padding: 0.2em;
    z-index: 1000;
}

nav > div {
    background: linear-gradient(120deg, $grey 20%, $grey-darker 100%);
    border-radius: 2px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
}

nav > div > span {
    display: none;
}

nav > div > a {
    text-decoration: none;
    color: $white;
}


/*Quand l'ecran est inferieur a 1200px*/
@media screen and (max-width: 1200px) {}

/*Quand l'ecran est inferieur a 768px*/
@media screen and (max-width: 768px) {
    /*NAVBAR RESPONSIVE*/
    nav {
        top: 1.5%;
        left: 0;
        right: auto;
        transition: 1s ease;
    }

    nav > div {
        flex-direction: column;
        grid-gap: 1em;
        position: relative;
    }

    nav > div > span {
        display: flex;
        position: absolute;
        width: 30px;
        height: 30px;
        background: linear-gradient(120deg, $grey 20%, $black 100%);
        border-radius: 50%;
        top: 5%;
        right: -15px;
        color: rgba($white, 0.9);
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 1s ease;
    }

    nav > div > span::before {
        content: '◄';
    }
}

/*Quand l'ecran est inferieur a 480px*/
@media screen and (max-width: 480px) {}