* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Offside', cursive;
  font-size: $text-size;
}

body {
  background-color: $body-background;
  height: 100%;
  color: $white;
}

.flash-message {
  @include flash-message;
}

.flash-success {
  .flash-content {
    @include flash-content($green)
  }
}
.flash-alert {
  .flash-content {
    @include flash-content($red)
  }
}

.flash-content {
  display: flex;
  margin: auto;
  padding: 1em 2em;
  font-size: $flash-message-size;
  border-radius: 10px;
  font-weight: 750;
}