@import "app.scss";

body {
    overflow-y: scroll;
    display: flex;
}

.section-90-top-90-sides {
    width: 100%;
    height: 100%;
    margin: 5% 10%;
}

/* Fakes cards behind the own in front */
.fake-cards-slider {
    width: 100%;
    min-height: 400px;
    padding: 2em 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.fake-card-work-experience {
    box-shadow: inset 0 0 14px 0 $grey-darker;
    border-radius: 5px;
    background: $grey;
    position: absolute;
    padding: 1em;
    text-align: justify;
    overflow: hidden;
}

/* Card experience show in front */
.work-experience-image {
    width: 50%;
    height: 100%;
    object-fit: cover;
    background: rgba($grey, 0.2);
    border-radius: $border-radius-on-linear-gradient;
    box-shadow: 0 4px 30px rgba($grey-darker, 0.1);
    border: 1px solid rgba($white, 0.5);
}

p {
    font-size: 0.85em;
    text-align: initial;
}

.work-experience-content > .first-infos {
    height: 150px;
    display: flex;
    grid-gap: 0.75em;
}

.work-experience-content > .second-infos {
    margin: 0.75em 0 0 0;
    line-height: 150%;
}

.work-experience-infos {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-category-titles {
    display: flex;
    justify-content: space-between;
}

.category-title {
    opacity: 1;
}

.work-experience {
    display: none;
}

/* Slider */
.button-slider {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 42.5%;
    z-index: 200;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #a5a5a5;
}

.button-slider-right {
    background: linear-gradient(120deg, rgb(108, 108, 108) 20%, rgb(37, 37, 37) 100%);
    right: -25px;
}
.button-slider-right::before {
    content: '►';
}

.button-slider-left {
    background: linear-gradient(120deg, rgb(108, 108, 108) 20%, rgb(37, 37, 37) 100%);
    left: -25px;
}
.button-slider-left::before {
    content: '◄';
}