@import "app.scss";

body {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 6em 2em 4em;
}

.section-work-experiences {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 5%;
    grid-row-gap: 2em;
    justify-content: space-around;
}

.work-experience-card:hover {
    transform: scale(1.1);
}

.work-experience-card {
    width: 30%;
    min-width: 250px;
    height: 275px;
    position: relative;
    transition: 0.5s ease;
    .side {
        width: 100%;
        height: 100%;
        border-radius: $border-radius-on-linear-gradient;
        padding: 3em 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        position: absolute;
        cursor: pointer;
        transition: 0.5s ease;
        box-shadow: 4px 4px 4px 0 $black;
    }
    .back-side {
        z-index: 9;
        transform: rotateY(90deg);
    }
    .front-side {
        padding: 0;
        z-index: 10;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .card-index {
            position: absolute;
            top: 1em;
            left: 1.2em;
        }
    }
    .back-side > h3 {
        font-size: calc($h1-title-size - 8px);
    }
}

.work-experience-card:nth-child(even) {
    .back-side {
        background: linear-gradient(120deg, $grey, $black 75%);
    }
    .front-side {
        background: darken($red, 15%);
    }
}

.work-experience-card:nth-child(odd) {
    .back-side {
        background: linear-gradient(120deg, $black, $grey 75%);
    }
    .front-side {
        background: darken($red, 30%);
    }
}



