// text-sizing
$text-size: 14px;
$h1-title-size: 2em;

$flash-message-size: 1.2em;

// primary-colors
$white: whitesmoke;
$black: #252525;
$grey: #7d7d7d;
$grey-darker: #373737;

$green: #009500;
$orange: #c76c24;
$red: #9f2f2f;

$body-background: $grey-darker;

// div-content
$border-radius-on-linear-gradient: 4px;
$section-space-background-color: #d9d9d9;
$text-color: whitesmoke;


//title
//$title-underline-gradient: linear-gradient(90deg, #DA0000, #CE7C00, #DAC400);
$title-underline-gradient: linear-gradient(90deg, $red, $orange, #DAC400);


