{% extends "layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('hbostudioSCSS') }}
{% endblock %}

{% block body %}
    <div class="content-under-construction-content">
        <p>content under construction</p>
        <div class="separator"></div>
        <p>coming really soon</p>
    </div>

    <script>
        var sign = document.querySelector('.content-under-construction-content')
        // en unité "deg"
        var rotateInterval = [315, 360, 1, 45]
        // en unité "px"
        var translateXInterval = document.body.offsetWidth
        // en unité "px"
        var translateYInterval = document.body.offsetHeight

        function randomInteger(max) {
            return Math.floor(Math.random() * max);
        }

        function randomIntegerBetweenInterval(min, max) {
            return Math.random() * (max - min) + min;
        }

        function translateSign() {
            return "translate(" + randomInteger(translateXInterval) + "px," + randomInteger(translateYInterval) + "px)"
        }

        function rotateSignLeft() {
            var randomInt = randomIntegerBetweenInterval(rotateInterval[0], rotateInterval[1])
            return "rotate(" + Math.floor(randomInt) + "deg)"
        }

        function rotateSignRight() {
            var randomInt = randomIntegerBetweenInterval(rotateInterval[2], rotateInterval[3])
            return "rotate(" + Math.floor(randomInt) + "deg)"
        }

        function stickSignToBody(sign, i) {
            var newTransform = translateSign() + ' '

            if (i%2 === 0){
                newTransform += rotateSignRight()
            } else {
                newTransform += rotateSignLeft()
            }

            sign.style.transform = newTransform;
        }

        for (let i = 0; i < 30; i++) {
            var duplicateSign = sign.cloneNode(true)
            document.body.appendChild(duplicateSign)
            stickSignToBody(duplicateSign, i)
        }

        var allSigns = document.querySelectorAll('.content-under-construction-content')
        allSigns[0].remove();

        window.addEventListener('load', function () {

        })

    </script>
{% endblock %}