{% extends "layout.html.twig" %}

{% block body %}
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Offside', cursive;
        }

        body {
            background-color: #373737;
            height: 100vh;
            color: #fdfdfd;
            display: flex;
            position: relative;
        }
    </style>

    SKILLSET & JOB EXPERIENCES
    <section>
        {% for wxp in workExperiences %}
            <div>
                <p>{{ wxp.title }}</p>
                <p>{{ wxp.startDate|date("M") }}</p>
            </div>
        {% endfor %}
    </section>

{% endblock %}